
<link rel="stylesheet" type="text/css" href="/libs/zTree/css/zTreeStyle/zTreeStyle.css">
<script src="/libs/zTree/js/jquery.ztree.core.js"></script>

<!--<div class="panel-body">-->
    <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">查询条件</div>-->
        <!--<div class="panel-body" style="padding-bottom: 0px;">-->
            <!--<form id="form" class="form-horizontal">-->
                <!--<div class="form-group">-->
                    <!--<div class="col-sm-4" style="padding-top: 2px;">-->
                        <!--<input type="text" class="form-control" name="resourcesName" placeholder="资源名">-->
                    <!--</div>-->
                    <!--<div class="col-sm-4" style="padding-top: 2px;">-->
                        <!--<input type="text" class="form-control" name="resourcesName" placeholder="资源名">-->
                    <!--</div>-->
                    <!--<div class="col-sm-4" style="padding-top: 2px;">-->
                        <!--<input type="text" class="form-control" name="resourcesName" placeholder="资源名">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div  class="col-sm-3">
    <button id="button" class="btn btn-default">
        <span class="glyphicon glyphicon-search" aria-hidden="true">查询</span>
    </button>
    <ul id="zTree" class="ztree"></ul>
</div>

<div  class="col-sm-9">
    <table id="table"></table>
</div>
<div id="toolbar">
    <button id="button" class="btn btn-default">
        <span class="glyphicon glyphicon-search" aria-hidden="true">查询</span>
    </button>
</div>

<script>

    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick:zTreeOnClick
        }
    };

    $(function () {
        $.get('/sys/resources/menu/list', {}, function (rev) {
            var zNodes = [];
            $.each(rev.rows, function (i, v) {
                zNodes.push({id: v.resourcesId, pId: v.resourcesPid, name: v.resourcesName, type: v.resourcesType})
            });
            $.fn.zTree.init($("#zTree"), setting, zNodes);
        }, 'json');
    });

    function zTreeOnClick(event, treeId, treeNode) {
        console.log(treeNode);
        initTable(treeNode.id);
    }

    function initTable(menuId) {
        $('#table').bootstrapTable('destroy');
        $('#table').bootstrapTable({
            url: '/sys/resources/perm/list?menuId='+menuId,
            method: 'get',
            toolbar: '#toolbar',
            striped: true,
            cache: false,
            //pagination: false,
            //queryParams: queryParams,
            sidePagination: "server",
            // pageNumber: 1,
            // pageSize: 10,
            // pageList: [10, 20, 50, 100],
            // showColumns: true,
            // showRefresh: true,
            // clickToSelect: true,
            columns: [
                {
                    field: 'resourcesName',
                    title: '资源名'
                }
                ,{
                    field: 'resourcesId',
                    title: 'ID'
                }
                ,{
                    field: 'resourcesUrl',
                    title: 'URL'
                }
            ]
        });
    }

    function queryParams(params) {
        // return $.extend({}, {
        //     offset: params.offset, //分页起始偏移
        //     limit: params.limit //分页条数
        // }, $('#form').getFormValues()); //form表单
        return {};
    }

</script>
