<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 指定包或类的日志级别 -->
    <logger name="com.laowen" level="trace"/>
    <logger name="org.mybatis.spring.SqlSessionUtils" level="debug" />
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="debug" />
    <logger name="org.springframework.jdbc.datasource.DataSourceUtils" level="debug" />

    <!--定义输出路径-->
    <property name="log.dir" value="/opt/logs/x2018"/>

    <!--控制台输出-->
    <appender name="console-appender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80}[%L] - %msg%n</pattern>
        </layout>
    </appender>

    <!-- debug文件日志 -->
    <appender name="file-debug-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/debug/x2018-debug.log</file>
        <Prudent>true</Prudent>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.dir}/debug/x2018-debug-%d{yyyy-MM-dd'.log'}</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80}[%L] - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- info文件日志 -->
    <appender name="file-info-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/info/x2018-info.log</file>
        <Prudent>true</Prudent>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.dir}/info/x2018-info-%d{yyyy-MM-dd'.log'}</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80}[%L] - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- error文件日志 -->
    <appender name="file-error-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/error/x2018-error.log</file>
        <Prudent>true</Prudent>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.dir}/error/x2018-error-%d{yyyy-MM-dd'.log'}</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80}[%L] - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- 指定日志级别 -->
    <root level="info">
        <appender-ref ref="console-appender"/>
        <appender-ref ref="file-debug-appender"/>
        <appender-ref ref="file-info-appender"/>
        <appender-ref ref="file-error-appender"/>
    </root>

</configuration>